body {
    background-color: white;
}

.nav {
    color: #FFFFFF;
}

.new-post {
    padding: 16px 0;
    border-bottom: 1px solid #cccccc;
}

.new-post header,
.posts header {
    margin-bottom: 20px;
}

.posts .post {
    padding-left: 10px;
    border-left: 3px solid #a21b24;
    margin-bottom: 30px;
}

.posts .post .info {
    color: #aaa;
    font-style: italic;
}
